@charset "UTF-8";
/* CSS Document */
p {
	color: green;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: azure;
	padding: 20px;
}
